doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        Style.
            h1{}
    body 
        // 會進到HTML的註解
        //- 不會進到HTML的註解
        h1 Title
        a(href="https://google.com" target="_blank") Google
        img(src="https://github.com/vuejs.png")
        .container 
            .row
                .col-12
                hr
                h1
                    | AAAA
                    br
                    | VVVV

        script.
            let aaa = 1111
            //alert(123)