/* 設定html,bode 抓到瀏覽器高度,其他section01,section02...的 height:100%才會有作用 */
html,
body{
    height: 100%;
    width: 100%;
}

body{
    
    font-family:  "Noto Sans TC", sans-serif;
}

/* 導覽列 */
#header{
    width: 100%;
    height: 70px;
    position: fixed;
    
    /* display: inline-block; */
    /* top: 0; */
    /* background: gray; */
    z-index: 1000;
}

/* 側邊列 */
#sider{
    width: 250px;
    height: 95%;
    position: fixed;
    top:70px;
    left: 0;
    /* background: blue; */
    z-index: 999;
    overflow-y: scroll;
}

/* 主菜單 */
#menu{
    content: "";
    width: calc(100% - 250px);
    height: 95%;
    /* width: 100%-250px;
    height: calc(100vh - 100px); */
    background: lightpink;
    position: relative;
    top: 70px;
    left: 250px;
    overflow: hidden;
}

#menu div{
    width: 18%;
    height: 35%;
    float: left;
    margin: 10px;
}

.icon{
    
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    
}

.icon:hover{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 80%;
    width: 30px;
    height: 30px;
}

.logo{
    width: 144px;
    height: 47px;
    display: inline-block;
    
    margin: 10px 0 0 10px;
}

#middleBar{
    margin: 8px 5px 5px 400px;

    width: 800px;
    height: 50px;

    background: white;
    display: inline-block;
    position: fixed;
}

#searchBar{
    width: 70%;
    height: 90%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left:8%;
    border:  0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    
}
#clickBtn{
    width: 12%;
    height: 100%;
    position: absolute; 
    border-radius: 0 2em 2em 0;
    border:  0.5px solid rgba(0, 0, 0, 0.1);
    right:0;
    
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: gray;
}

#clickBtn:hover{
    background: rgba(150, 150, 150, 0.1);
}

#textIn{
    /* background: gray; */
    position: absolute; 
    border: none;
    outline : none;
    top:50%;
    transform: translate(0,-50%);
    left:5%;
    width: 80%;
    height: 90%;
}

.clickSearch{
    position: absolute;
    top:-3%;
    left:-5%;
    width:  9%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius:  2em 0 0 2em ;
    border:  0.5px solid rgba(0, 0, 0, 0.2);
    border-right:none;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    display: none;
    color: gray;
}

#textIn:focus + .clickSearch{
    display: block;
}

.mic{
    background: rgba(150, 150, 150, 0.1);
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 15%;
    border-radius: 80%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px !important; 
}

.mic:hover{
    background: rgba(100, 100, 100, 0.2);
}

#rightBar{
    margin: 8px 5px 5px 1400px;

    width: 300px;
    height: 50px;

    display: inline-block;
    position: fixed;
    text-align: right;
    vertical-align: middle;
}

.rightIcon, 
.rightIcon img{
    width: 50px ;
    height: 50px ;
    border-radius: 80% ;
    display: inline-block;
    text-align: center;
    line-height: 50px ; 
    margin-right: 13px;
    font-size: 20px;
    vertical-align: middle;
}
.rightIcon:hover{
    background: rgba(0, 0, 0, 0.2);
}
